* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}

body {
    position: relative;
    overflow-y: hidden;
}

.container-fluid {
    background: #162938;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-body {
    width: 500px;
    height: 650px;
    background: #fff;
    border-radius: 20px;
    display: none;
}

.top-section {
    display: flex;
    justify-content: space-between;
    margin-inline: .9rem;
}

.top-section h1 span {
    color: orangered;
}

.menu-section {
    margin-top: 10px;
    position: relative;
}

.menu-section button {
    padding: 5px 20px;
    border: none;
    border-radius: 12px;
    background: orangered;
    color: white;
    font-weight: 200;
}

.menu-ul {
    background: #fff;
    box-shadow: 2px 2px 5px 2px #00000061;
    border-radius: 12px;
    margin: 0;
    padding: 5px 20px;
    position: absolute;
    left: -40%;
    list-style: none;
    font-size: 20px;
    cursor: pointer;
    z-index: 2;
    display: none;
}

.menu-ul-collapse {
    display: block;
}

.start-game {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    font-size: 2rem;
}

.score {
    position: absolute;
    top: 5%;
    left: 5%;
    color: orangered;
}

.start-game button {
    padding: 5px 30px;
    border: none;
    border-radius: 12px;
    background: orangered;
    color: white;
    font-weight: 200;

}

.start-game h1 {
    color: white;
}

.start-game h1 span {
    color: orangered;
}

.game {
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    height: 90%;
}

.game .number {
    background: #162938;
    color: white;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    font-weight: 800;
    cursor: pointer;
}

.number:hover,
.number:active {
    border: 4px solid orangered
}


@media (max-width: 870px) {
    .score {
        top: 1%;
    }

    .game-body {
        margin: 100px 0;
        width: 80vw;

    }
}

@media (max-width:440px) {
    .game .number {
        width: 90%;
        height: 50%;
    }

    .game {
        padding-bottom: 30px;
    }
}